@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Noto+Sans:ital@0;1&display=swap');

:root{
    --accent-color: rgb(6, 134, 74);
}
html, body {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    width: 100%;
}
.left_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    min-width: 420px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-image: url("./images/mountains.jpg");
    background-position: unset;
    color: white;
    font-family: 'Merienda', cursive;
}
body > div > img {
    z-index: 10;
}
#banner {
    background-color: rgba(0, 0, 0, 0.33);
    height: 200px;
    margin-top: 322px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(3vw, 5vw, 9vw);
}
#logo_img {
    height: 100px;
    margin-right: 16px;
}
.left_content > span {
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
}
span > a {
    color: white;
}
.right_content{
    background-color: #f9fafb;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#caption_top, #sign_in {
    padding: 0 60px;
}
#caption_top {
    font-size: 30px;
    padding-right: 14vw;
    padding-bottom: 2.5vh;
}
form {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form > div {
    background-color: white;
    box-shadow: 1px 5px 5px rgb(199, 199, 199);
    padding: 30px 0 15px 60px;
}
form > div > div {
    display: flex;
    gap: 70px;
    padding-bottom: 20px;
}
h1 {
    font-size: 30px;
    margin: 2px 0 20px 0;
}
.form_group {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
label {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 6px;
}
input {
    width: 15vw;
    height: 24px;
    border: solid 1px black;
    border-radius: 2px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 3px 2px var(--accent-color);
}
form > button {
    width: 120px;
    height: 40px;
    margin: 30px 0 10px 60px;
}
#sign_in {
    font-size: 18px;
}
#sign_in > a {
    color: var(--accent-color);
}